body{   
        background-color: #D5E1EF;
        display: flex;    
        justify-content: center;
        padding-top: 100px;    
}

*{
        padding: 0;
        margin: 0;
}


.qr{
        width: 320px;
        height: 497px;
        background-color: #fff;
        display: flex;
        border-radius: 20px;
}

.qrcode{
        margin: 16px;
        width: 288px;
        height: 288px;
        background-color: #2C7DFA;
        border-radius: 20px;
    
        
      
}

.imgqr{
      margin: 64px;
}


.dis{
        display: flex;
        align-items: center;
}
.dis{
        display: flex;
        align-items: center;
        padding: 12px;
}
.dis2{
        display: flex;
        align-items: center;
        padding: 10px;
        font-weight: lighter;
}

